<header>

<div class="w-full h-full pt-16 pb-16 divide-y divide-gray-300">
  <!-- Name + Listening-->
  <div class="w-full flex flex-row justify-between mb-6">

    <!-- Name -->
    <div>
    <p class="text-xl font-bold tracking-tighter">
        Abhinav Pandey
    </p>
    </div>

    <!-- Listening -->
    <div class="flex flex-row">
    <p class="text-base font-dmono  text-gray-600">
        Currently:
    </p>
    <p class="text-base font-bold tracking-tighter">
        Abhinav Pandey
    </p>  
    </div>

  </div>

  <!-- Divider-->

  <!-- Nav + Latest Writing-->
  <div class="w-full flex flex-row justify-between pt-6">

  <!-- Nav -->
  <div>
  <ul class="flex space-x-8">
        {% for item in navigation.items %}
          {% if item.url == page.url %}
            {% assign highlight = 'cursor-default' %}
            {% assign secondhigh = 'font-italic' %}
            {% assign current = 'aria-current="page"' %}
          {% else %}
            {% assign highlight = 'text-gray-600' %}
            {% assign secondhigh = '' %}
            {% assign current = '' %}
          {% endif %}
          <li>
            <a
              href="{{ item.url }}"
              class="text-base font-dmono hover:text-red-400 {{ highlight }} {{ secondhigh }}"
              {{ current }}
            >
              {{ item.text }}
            </a>
          </li>
        {% endfor %}

      </ul>
  </div>

  <!-- Listening -->
  <div class="flex flex-row">
  <p class="text-base font-dmono text-gray-600">
      Currently:
  </p>
  <p class="text-base font-bold tracking-tighter">
      Abhinav Pandey
  </p>  
  </div>

  </div>
</div>

 <!--
 <nav class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <div class="text-xl">
      Abhinav Pandey
      <div>

      <ul class="flex space-x-4">
        {% for item in navigation.items %}
          {% if item.url == page.url %}
            {% assign highlight = 'cursor-default' %}
            {% assign current = 'aria-current="page"' %}
          {% else %}
            {% assign highlight = 'underline' %}
            {% assign current = '' %}
          {% endif %}
          <li>
            <a
              href="{{ item.url }}"
              class="text-base font-bold {{ highlight }}"
              {{ current }}
            >
              {{ item.text }}
            </a>
          </li>
        {% endfor %}
        <li>
          <a
            href="https://github.com/stefanfrede/11st-starter-kit/"
            class="text-base font-bold underline hover:text-green-900"
          >
            GitHub
          </a>
        </li>
      </ul>
    </div>
  </nav>--> 
</header>
